.welcome-container {
  height: 100vh;
  display: flex;
}

.welcome-leave {
  animation: welcome-leave 1s ease-in-out forwards;
}

@keyframes welcome-leave {
  0% {
    opacity: 1;
    height: 100vh;
  }
  100% {
    opacity: 0 !important;
    height: 0px;
  }
}

.hacker-div {
  border-bottom: 2px solid #3a33c5;
  position: relative;
  top: 0;
  right: 10px;
  width: 444px;
}

.intro-top-border {
  animation: top-border 1.5s ease-out forwards;
}

@keyframes top-border {
  0% {
    top: 102px;
  }
  100% {
    top: 0px;
  }
}

.logo-container {
  height: 115px;
}

.logo-container h1 {
  position: relative;
  color: #ffffff;
  -webkit-text-stroke: 0.1vw rgb(37, 37, 37);
  font-size: 80px;
  font-family: "Rajdhani", sans-serif;
}

.logo-container h1::before {
  content: attr(data-text);
  position: absolute;
  color: #3a33c5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  animation: hack-ani 1.5s ease-out forwards;
}

@keyframes hack-ani {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.logo-container p {
  position: relative;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.1vw #3a33c5;
  font-size: 80px;
  font-family: "Rajdhani", sans-serif;
  border-left: 1.5px solid black;
  height: 100%;
}

.logo-container p::before {
  content: attr(data-p);
  position: absolute;
  -webkit-text-stroke: 0vw rgb(37, 37, 37);
  width: 95%;
  height: 100%;
  right: 141px;
  bottom: 4px;
  color: #000000;
  overflow: hidden;
  z-index: 2;
  animation: before-the-ani 1.5s ease-out forwards;
}

@keyframes before-the-ani {
  0% {
    bottom: 4px;
    width: 80%;
  }
  73%,
  100% {
    width: 0%;
    bottom: 8px;
  }
}

.the-word {
  position: relative;
  bottom: 4px;
  right: 132px;
  padding-left: 20px;
}

.the-span-intro {
  animation: the-ani ease-out 1.5s forwards;
}

@keyframes the-ani {
  0% {
    bottom: 4px;
    right: 132px;
  }
  100% {
    right: 0px;
    bottom: 8px;
  }
}

.hacker-div-final {
  border-bottom: 2px solid #3a33c5;
  position: relative;
  top: 0;
  right: 10px;
  width: 444px;
}

.final-top-border {
  animation: top-border-final 1s ease-out forwards;
}

@keyframes top-border-final {
  0% {
    right: 10px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 300px;
  }
}

.left-final-border {
  position: relative;
  border-left: 2px solid black;
  animation: left-border 1.5s ease-in-out forwards;
}

@keyframes left-border {
  0% {
    left: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: 570px;
    opacity: 0;
  }
}

.logo-container2 {
  width: 46%;
  height: 115px;
  background: rgba(0, 0, 0, 0);
}

.logo-container2 h1 {
  position: relative;
  color: #ffffff;
  -webkit-text-stroke: 0.1vw rgb(37, 37, 37);
  font-size: 80px;
  font-family: "Rajdhani", sans-serif;
}

.logo-container2 h1::before {
  content: attr(data-text-final);
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  color: #000000;
  overflow: hidden;
  word-break: break-all;
  animation: hacker-final 1s ease-out forwards 0.5s;
}

@keyframes hacker-final {
  100% {
    width: 100%;
  }
}

.logo-container2 p {
  position: relative;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.06vw #000000;
  font-size: 80px;
  font-family: "Rajdhani", sans-serif;
  height: 115px;
}

.the-word-final {
  padding-left: 20px;
  position: relative;
  bottom: 8px;
  right: 0px;
  font-weight: 600;
  background-color: #00000000;
  display: inline-block;
  height: 90px;
}

.the-span-final {
  animation: the-ani-final ease-out 1s forwards;
}

@keyframes the-ani-final {
  0% {
    padding-right: 0px;
  }
  100% {
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 730px) {
  .hacker-div {
    border-bottom: 2px solid #3a33c5;
    position: relative;
    top: 0;
    right: 0px;
    width: 310px;
  }

  .intro-top-border {
    animation: top-border 1.5s ease-out forwards;
  }

  @keyframes top-border {
    0% {
      top: 70px;
    }
    100% {
      top: 0px;
    }
  }

  .logo-container {
    height: 115px;
  }

  .logo-container h1 {
    position: relative;
    color: #ffffff;
    -webkit-text-stroke: 0.1vw rgb(37, 37, 37);
    font-size: 60px;
    font-family: "Rajdhani", sans-serif;
  }

  .logo-container h1::before {
    content: attr(data-text);
    position: absolute;
    color: #3a33c5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    animation: hack-ani 1.5s ease-out forwards;
  }

  @keyframes hack-ani {
    0% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }

  .logo-container p {
    position: relative;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1vw #3a33c5;
    font-size: 60px;
    font-family: "Rajdhani", sans-serif;
    border-left: 1.5px solid black;
    height: 100%;
  }

  .logo-container p::before {
    content: attr(data-p);
    position: absolute;
    -webkit-text-stroke: 0vw rgb(37, 37, 37);
    width: 95%;
    height: 100%;
    right: 106px;
    bottom: 4px;
    color: #000000;
    overflow: hidden;
    z-index: 2;
    animation: before-the-ani 1.5s ease-out forwards;
  }

  @keyframes before-the-ani {
    0% {
      bottom: 4px;
      width: 81%;
    }
    77%,
    100% {
      width: 0%;
      bottom: 8px;
    }
  }

  .the-word {
    position: relative;
    bottom: 4px;
    right: 132px;
    padding-left: 10px;
  }

  .the-span-intro {
    animation: the-ani ease-out 1.5s forwards;
  }

  @keyframes the-ani {
    0% {
      bottom: 4px;
      right: 100px;
    }
    100% {
      right: 0px;
      bottom: 8px;
    }
  }

  .hacker-div-final {
    border-bottom: 2px solid #3a33c5;
    position: relative;
    top: 0;
    right: -5px;
    width: 310px;
  }

  .final-top-border {
    animation: top-border-final 1s ease-out forwards;
  }

  @keyframes top-border-final {
    0% {
      right: 0px;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      right: 100px;
    }
  }

  .left-final-border {
    position: relative;
    border-left: 2px solid black;
    animation: left-border 1.5s ease-in-out forwards;
  }

  @keyframes left-border {
    0% {
      left: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      left: 570px;
      opacity: 0;
    }
  }

  .logo-container2 {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0);
  }

  .logo-container2 h1 {
    position: relative;
    color: #ffffff;
    -webkit-text-stroke: 0.1vw rgb(37, 37, 37);
    font-size: 60px;
    font-family: "Rajdhani", sans-serif;
  }

  .logo-container2 h1::before {
    content: attr(data-text-final);
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    color: #000000;
    overflow: hidden;
    word-break: break-all;
    animation: hacker-final 0.5s ease-out forwards 0.5s;
  }

  @keyframes hacker-final {
    100% {
      width: 100%;
    }
  }

  .logo-container2 p {
    position: relative;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.06vw #000000;
    font-size: 60px;
    font-family: "Rajdhani", sans-serif;
    height: 90px;
  }

  .the-word-final {
    padding-left: 10px;
    position: relative;
    bottom: 8px;
    right: 0px;
    font-weight: 600;
    background-color: #00000000;
    display: inline-block;
    height: 60px;
  }

  .the-span-final {
    animation: the-ani-final ease-out 1s forwards;
  }

  @keyframes the-ani-final {
    0% {
      padding-right: 0px;
    }
    100% {
      background-color: #000000;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 452px) {
  .hacker-div {
    border-bottom: 2px solid #3a33c5;
    position: relative;
    top: 0;
    right: 0px;
    width: 200px;
  }

  .intro-top-border {
    animation: top-border 1.5s ease-out forwards;
  }

  @keyframes top-border {
    0% {
      top: 50px;
    }
    100% {
      top: 0px;
    }
  }

  .logo-container {
    height: 55px;
  }

  .logo-container h1 {
    position: relative;
    color: #ffffff;
    -webkit-text-stroke: 0.1vw rgb(37, 37, 37);
    font-size: 40px;
    font-family: "Rajdhani", sans-serif;
  }

  .logo-container h1::before {
    content: attr(data-text);
    position: absolute;
    color: #3a33c5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    animation: hack-ani 1.5s ease-out forwards;
  }

  @keyframes hack-ani {
    0% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }

  .logo-container p {
    position: relative;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1vw #3a33c5;
    font-size: 40px;
    font-family: "Rajdhani", sans-serif;
    border-left: 1.5px solid black;
    height: 100%;
  }

  .logo-container p::before {
    content: attr(data-p);
    position: absolute;
    -webkit-text-stroke: 0vw rgb(37, 37, 37);
    width: 95%;
    height: 100%;
    right: 67px;
    bottom: 4px;
    color: #000000;
    overflow: hidden;
    z-index: 2;
    animation: before-the-ani 1.5s ease-out forwards;
  }

  @keyframes before-the-ani {
    0% {
      bottom: 4px;
      width: 87%;
    }
    85%,
    100% {
      width: 0%;
      bottom: 4px;
    }
  }

  .the-word {
    position: relative;
    bottom: 4px;
    right: 80px;
    padding-left: 5px;
  }

  .the-span-intro {
    animation: the-ani ease-out 1.5s forwards;
  }

  @keyframes the-ani {
    0% {
      bottom: 4px;
      right: 65px;
    }
    100% {
      right: 0px;
      bottom: 4px;
    }
  }

  .hacker-div-final {
    border-bottom: 2px solid #3a33c5;
    position: relative;
    top: 0;
    right: -5px;
    width: 205px;
  }

  .final-top-border {
    animation: top-border-final 1s ease-out forwards;
  }

  @keyframes top-border-final {
    0% {
      right: 0px;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      right: 100px;
    }
  }

  .left-final-border {
    position: relative;
    border-left: 2px solid black;
    animation: left-border 1.2s ease-in-out forwards;
  }

  @keyframes left-border {
    0% {
      left: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      left: 300px;
      opacity: 0;
    }
  }

  .logo-container2 {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0);
  }

  .logo-container2 h1 {
    position: relative;
    color: #ffffff;
    -webkit-text-stroke: 0.1vw rgb(37, 37, 37);
    font-size: 40px;
    font-family: "Rajdhani", sans-serif;
  }

  .logo-container2 h1::before {
    content: attr(data-text-final);
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    color: #000000;
    overflow: hidden;
    word-break: break-all;
    animation: hacker-final 0.5s ease-out forwards 0.5s;
  }

  @keyframes hacker-final {
    100% {
      width: 100%;
    }
  }

  .logo-container2 p {
    position: relative;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.06vw #000000;
    font-size: 40px;
    font-family: "Rajdhani", sans-serif;
    height: 65px;
  }

  .the-word-final {
    padding-left: 5px;
    position: relative;
    bottom: 8px;
    right: 0px;
    font-weight: 600;
    background-color: #00000000;
    display: inline-block;
    height: 50px;
  }

  .the-span-final {
    animation: the-ani-final ease-out 1s forwards;
  }

  @keyframes the-ani-final {
    0% {
      padding-right: 0px;
    }
    100% {
      background-color: #000000;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
